<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>MERCADPO LIEBRE</title>
</head>

<body>
    <div id="center">
        <header>
            <span id="span_1">
               <img src="" alt="">
            </span>
        </header>
        <br></br>
        <nav>
            <span id="span_2">
                <a href="http://www.eltiempo.com" target="_blank">El tiempo</a> |
                <a href="http://www.elespectador.com" target="_blank">El espectador</a>|
                <a href="https://cnnespanol.cnn.com/" target="_blank">CNN</a>
        </nav>
        <br></br>
        <section id="menuprincipal">

            <section id="menudeseccion">
                <span id="span_3">
                    Menu de Sección
                </span>
            </section>

            <section id="migas">
                <span id="span_4">
                    Migas
                </span>
            </section>

            <section id="contenidodeseccion">
                <span id="span_5">
                    Contenido de sección
                </span>

                <br></br>
                <span id="span_6">
                    Más contenido
                </span>
                <br></br>

            </section>
        </section>

        <footer>
            <span id="span_7">
                Pie de pagina
            </span>
        </footer>

</body>
</hmtl>
</body>
</hmtl>